<section id="content">
	<div class="btn-group">
	<span class="btn" id="reload">Reload</span>
</div>
<ul id="sort-by">
  <li><a href="#title">title</a></li>
  <li><a href="#feed">feed</a></li>
  <li><a href="#updated">updated</a></li>
  <li><a href="#length">length</a></li>
</ul>
<div id="container">
</div>
</section>
